[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "popari"
version = "0.0.8"
authors = [
  { name="Shahul Alam", email="alam.shahul@gmail.com.com" },
]
dependencies = [
    "numpy>=1.20.1",
    "scipy>=1.7.1",
    "scikit-learn>=0.24.1",
    "pandas>=1.2.4",
    "anndata>=0.8.0",
    "torch>=1.10.1+cu113",
    "tqdm>=4.60.0",
    "umap-learn>=0.5.1",
    "scanpy>=1.8.1",
    "seaborn>=0.11.1",
    "matplotlib>=3.3.4",
    "squidpy>=1.2.2"
]
description = "SpiceMix: a probabilistic graphical model for spatial transcriptomics data"
readme = "README.md"
license = { file="LICENSE" }
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/alam-shahul/popari"
"Bug Tracker" = "https://github.com/alam-shahul/popari/issues"


[tool]

[tool.hatch.build.targets.sdist]
include = [
  "spicemix/*.py",
]

[tool.hatch.build.targets.wheel]
include = [
  "spicemix/*.py",
]
